<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>ESMAE: Upload bestand</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="./node_modules/devextreme/dist/css/dx.carmine.compact.css">
</head>
<p>nieuw-bestand works!</p>
<body class="dx-viewport">
    <app>
        <form>
    <label for="Upload Project">Upload Project:</label>
    <input type="file" id="gebruikersnaam" name="gebruikersnaam" maxlength="20">
</form>
    </app>
</body>
</html>