<link href="https://fonts.cdnfonts.com/css/tex-gyre-adventor" rel="stylesheet">
<div class="beheerder-topbar">
				<a class="home-btn" routerLink="/">&lt; Home</a>
</div>
<main class="beheerder-main">
	<div class="beheerder-card">
		<h1 class="beheerder-title">Beheer ESMAE</h1>
		<div class="beheerder-pill-group">
			<a class="pill" routerLink="/onderdeel-wijzigen">
				<span>Onderdelen wijzigen</span>
			</a>
			<a class="pill" routerLink="/onderdeel-verwijderen">
				<span>Onderdelen verwijderen</span>
			</a>
						<a class="pill" routerLink="/gebruikers_beheer">
							<span>Wachtwoord wijzigen</span>
						</a>
		</div>
	</div>
</main>
